h1{
    font-family: Georgia;
    font-size: 50;
    background-color: ivory;
    color: gray;
    border-style: outset;
    padding: 10px;
}
tr td{
    font-family: Georgia;
    border-style: solid;
    border-color: rgb(250, 242, 169);
    color: gray;
    background-color: ivory;
    font-size: 30px;
    padding: 10px;
}
.code{
    font-family: serif;
}
tr th{
    border-style: solid;
    border-color: lightcoral;
    background-color: lightcoral;
    color: black;
    padding: 10px;
}